<% const rndInt = () => Math.ceil(Math.random() * 9999); %>
<%-include ../partials/header.ejs%>
    <%-include ../partials/main_nav.ejs%>
    <%-include ../partials/content.ejs%>
    
    <!-- Connect for the response Page-->
    <main class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h5><%= survey.name %></h5>
                <h6><%= survey.description %></h6>
                <form action="" class="form" method="POST">
                <% for(let questionIndex = 0 ; questionIndex < survey.questions.length ; questionIndex++) { %>
                    <div class="form-group">
                        <label for="<%=survey.questions[questionIndex]._id%>"><%= survey.questions[questionIndex].questionText %></label>
                        <% if (survey.questions[questionIndex].questionOptions.length) { %>
                        <select name="response" id="<%=survey.questions[questionIndex]._id%>">
                        <% for(let optionIndex = 0 ; optionIndex < survey.questions[questionIndex].questionOptions.length ; optionIndex++) { %>
                            <option value="<%=survey.questions[questionIndex].questionOptions[optionIndex]%>"><%=survey.questions[questionIndex].questionOptions[optionIndex]%></option>
                        <% } %>
                        </select>
                        <% } else { %>
                            <input type="text" name="response" id="<%=survey.questions[questionIndex]._id%>" class="form-control" placeholder="<%= survey.questions[questionIndex].questionText %>" required />
                        <% } %>
                    </div>
                <% } %>
                    <button class="btn btn-primary submit-btn" type="button">
                        <i class="fas fa-edit"></i> Submit
                    </button>
                    <a href="/survey" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>
                </form>
            </div>
        </div>
    </main>
    <script>
        (() => {
            const btnSubmit = document.querySelector(".submit-btn");
            btnSubmit.addEventListener("click", async () => {
                const form = document.querySelector("form");
                if(form.reportValidity()){
                    const surveyId = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
                    await fetch(`/survey/respond/${surveyId}`, {
                        method: "post",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            responses: [...document.querySelectorAll("[name=response]")]
                                .map(response => ({
                                    questionId: response.id,
                                    response: response.value
                                }))
                        })
                    });
                    window.location.href = "/survey";
                }
            });
        })();
    </script>
    <%-include ../partials/bottom_nav.ejs%>
<%-include ../partials/footer.ejs%>