<%-include ../partials/header.ejs%>
    <%-include ../partials/main_nav.ejs%>
    <%-include ../partials/content.ejs%>
    
    <!-- Main Content-->
    <main class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <a href="survey/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Survey</a>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row -->
                    <tr class="d-flex">
                        <th class="text-center col-6">Survey Name</th>
                        <th class="text-center col-2"></th>
                        <th class="text-center col-2"></th>
                        <th class="text-center col-2"></th>
                    </tr>

                    <!-- Repeatable Template Row -->
                    <% for(let count = 0 ; count < SurveyTemplates.length ; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-6"><%= SurveyTemplates[count].name %></td>
                        <td class="text-center col-2">
                            <a href="survey/edit/<%= SurveyTemplates[count]._id %>" class="btn btn-info btn-sm">
                            <i class="fas fa-pencil-alt"></i> Update</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="survey/delete/<%= SurveyTemplates[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="survey/repond/<%= SurveyTemplates[count]._id %>" class="btn btn-success btn-sm">
                            <i class="fas fa-trash-alt"></i> Respond</a>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </main>
    <%-include ../partials/bottom_nav.ejs%>
<%-include ../partials/footer.ejs%>